/* @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: rgb(191,234,255);
}

.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 54px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  padding: 0.4em 0em;
}
.fas {
  position: relative;
  display: table-cell;
  width: 54px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  padding: 0.7em 0em;
}

/* .main-menu:hover, nav.main-menu.expanded {
   width: 250px;
   overflow: visible;
 } */

.main-menu {
  border: 2px solid black;
  background: rgb(191,234,255);
  position: absolute;
  padding-top: 3.7em;
  top: 0%;
  bottom: 0;
  height: auto;
  left: 0;
  width: 61px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 0;
}

.main-menu > ul {
  margin: 2em 0;
}

.main-menu li {
  position: relative;
  display: flex;
  justify-content: center;
  height: 3em;
}

.main-menu li > a {
  width: 3.4em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
  border-radius: 7px;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0em;
  top: 0em;
  margin-top: 0%;
  width: 100%;
  height: 3.8em;
  padding-left: 3.9em;
  background-color: rgb(191,234,255);
  border: 2px solid black;
}

.userDetails {
  margin-right: 4em;
  display: flex;
  align-items: center;
  text-align: end;
  width: max-content;
  font-size: 14px;
}

.Account_Avatar {
  margin-left: .5em;
  border: 1px solid black;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Account_Details {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

.Account_Details > .userName {
  font-weight: 200;
  font-family: 'Fredoka One', cursive;
}


.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid black;
  top: 0%;
  left: 0%;
  width: 3.8em;
  height: 3.79em;
  background-color: rgb(191,234,255);
  color: white;
  z-index: 1;
}

svg {
  stroke: black;
  fill: black;
  height: 1.7em;
  object-fit: contain;
}

.Account_Avatar > svg {
  height: 1.5em;
  object-fit: contain;
}

.menu-toggle > svg {
  height: 2em;
  stroke: none;
}

.search > svg{
  fill: none;
}


